body {
    background-color: rgb(141, 3, 141);
}

h1 {
    color: rgb(201, 6, 226);

}

p {
    font-family: verdana;
    font-size: 20px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;

}

body {
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 20px;
}

.photo {
    max-width: 50%;
    padding: 0 10px;
    height: 240px;
}

.photo img {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(143, 3, 143);
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}